Thumbs.db
.vs/
bin/
obj/
.vs/GoTravelTour/DesignTimeBuild/.dtbcache
.vs/GoTravelTour/v16/.suo
.vs/GoTravelTour/v16/Server/sqlite3/storage.ide
GoTravelTour/obj/Debug/netcoreapp2.1/GoTravelTour.csprojAssemblyReference.cache
.vs/GoTravelTour/DesignTimeBuild/.dtbcache
.vs/GoTravelTour/v16/.suo
.vs/GoTravelTour/v16/Server/sqlite3/storage.ide
GoTravelTour/obj/Debug/netcoreapp2.1/GoTravelTour.csprojAssemblyReference.cache
.vs/GoTravelTour/DesignTimeBuild/.dtbcache
.vs/GoTravelTour/v16/.suo
.vs/GoTravelTour/v16/Server/sqlite3/storage.ide
GoTravelTour/obj/Debug/netcoreapp2.1/GoTravelTour.csprojAssemblyReference.cache
